.wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 50px 325px 325px 100px;
    height: 100vh;
    grid-gap: .1rem;
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "img1 img2 img3 img4"
    "img5 img6 img7 img8"
    "footer footer footer footer";
}
body{
    margin: 0px;
    margin-left: 2px;
    margin-right: 2px;
}
header{
    background-color: #5d6d7e;
    grid-area: header;
}
#logo{
    text-align: center;
    margin: 20px;
}
nav{
    background-color: #34495e;
    grid-area: nav;
}
#navbar{
    text-align: center;
    line-height: 3rem;
    word-spacing: 10px;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: #5f6663;
}
#img1{
    background-color:#EEF2F6;
    grid-area:img1;
    display: grid;
    align-items: center;
    justify-items: center;
}
#img1 img{
    border-radius: 8px;
    width: 350px;
}
#img2{
    background-color: tomato;
    grid-area: img2;
    display: grid;
    align-items: center;
    justify-items: center;
}
#img2 img{
    border-radius: 8px;
    width: 350px;
}
#img3{
    background-color: tomato;
    grid-area: img3;
    display: grid;
    align-items: center;
    justify-items: center;
}
#img3 img{
    border-radius: 8px;
    width: 350px;
}
#img4{
    background-color: tomato;
    grid-area: img4;
    display: grid;
    align-items: center;
    justify-items: center;
}
#img4 img{
    border-radius: 8px;
    width: 350px;
}
#img5{
    background-color: tomato;
    grid-area: img5;
    display: grid;
    align-items: center;
    justify-items: center;
}
#img5 img{
    border-radius: 8px;
    width: 350px;
}
#img6{
    background-color: tomato;
    grid-area: img6;
    display: grid;
    align-items: center;
    justify-items: center;
}
#img6 img{
    border-radius: 8px;
    width: 350px;
}
#img7{
    background-color: tomato;
    grid-area: img7;
    display: grid;
    align-items: center;
    justify-items: center;
}
#img7 img{
    border-radius: 8px;
    width: 350px;
}
#img8{
    background-color: tomato;
    grid-area: img8;
    display: grid;
    align-items: center;
    justify-items: center;
}
#img8 img{
    border-radius: 8px;
    width: 350px;
}
footer{
    background-color: #5d6d7e;
    grid-area: footer;
}
#copy{
    text-align: center;
    margin: 35px;
    color: #fff;
}
