@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
header{
    position: relative;
    background-image: linear-gradient(rgb(102 102 102 / 90%), rgb(102 102 102 / 0%)), url(../img/christian-wiediger-8nXKXYdO-Wk-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    overflow: hidden;
}
.headerinner{
    display: flex;
    align-items: center;
    gap: 44px;
}
.navhamburger{
    margin: 0 0 10px 10px;
    height: 20px;
    display: flex;
    flex-direction: column;
}
span{
    display: block;
    height: 4px;
    width: 18px;
    font-size: 2rem;
    background-color: #000;
    margin-bottom: 4px;
}
span:last-child{
    margin-bottom: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.ul-links{
    display: none;
}
.logo img{
    width: 155px;
    height: 85px;
}

.header-section{
    width: 100%;
    height: 95px;
    background: linear-gradient(180deg, #474747 0%, rgba(44, 44, 44, 0.58) 46.35%, rgba(0, 0, 0, 0.02) 100%);
    margin-top: 79px;
}
.header-title{
    font-family: 'Figtree', sans-serif;
    color: #fff;
    text-align: center;
    padding-top: 10px;
}
.header-slogan{
    font-family: sans-serif;
    color: #fff;
    margin-top: 12px;
    text-align: center;
}
.container{
    margin: auto;
    width: 85%;
}
.first{
    background-color: #0071c5;
}
.first-heading{
    font-family: 'Figtree', sans-serif;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}
.first-text{
    display: block;
    font-family: sans-serif;
    color: #fff;
    margin: 19px auto 0;
    padding-bottom: 20px;
    width: 81%;
}
.second{
    margin-bottom: 37px;
}
.second-heading{
    font-family: 'Figtree', sans-serif;
    color: #000;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}
.second-text{
    font-family: sans-serif;
    color: #000;
    margin: 19px auto 0;
    padding-bottom: 34px;
    width: 81%;
}
iframe{
    box-shadow: 0  4px 8px #474747;
    transform: scale(1.1);
    width: 100%;
}
.third{
    background-color: #a387e7;
}
.third-heading{
    font-family: 'Figtree', sans-serif;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}
.third-text{
    font-family: sans-serif;
    margin: 19px auto 0;
    padding-bottom: 20px;
    width: 81%;
}
.forth{
    background-color: #c70039;
}
.forth-heading{
    font-family: 'Figtree', sans-serif;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}
.forth-text{
    font-family: sans-serif;
    color: #fff;
    margin: 19px auto 0;
    padding-bottom: 20px; 
    width: 81%;
}
footer{
    background-color: #474747;
}