*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* restaurant images */
.tab, .web{
    display: none;
}
.mob{
    width: 80%;
    margin: auto;
}
.text{
    padding: 10px;
}
.rest{
    display: flex;
    flex-direction: column;
}




/* Tablet */
.mob{
    display: none;
}
.tab{
    display: unset;
}



/* desktop */
.rest{
    flex-direction: row;
}
.web{
    display: unset;
}
.tab{
    display: none;
}