.wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 50px auto 100px;
    height: 100vh;
    grid-gap: .1rem;
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "section section section section"
    "footer footer footer footer";
}
body{
    margin: 0px;
    margin-left: 2px;
    margin-right: 2px;
}
header{
    background-color: #3193fc;
    grid-area: header;
}
#logo{
    text-align: center;
    margin: 20px;
}
nav{
    background-color: #039be5;
    grid-area: nav;
}
#navbar{
    text-align: center;
    line-height: 3rem;
    word-spacing: 10px;
}
a{
    text-decoration: none;
    color: #000000;
}
a:hover{
    color: #5f6663;
}
section{
    background-color: #ffffff;
    grid-area: section;
}
section h1{
    text-align: center;
}
ul{
    text-align: center;
    list-style-position: inside;
}
#dog{
    text-align: center;
}
#dog img{
    width: 500px;
}
footer{
    background-color: #3193fc;
    grid-area: footer;
}
#copy{
    text-align: center;
    margin: 35px;
    color: #fff;
}
section p{
    text-align: center;
}