@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{ 
    background-color: #8896BF;
}
header{
    height: 70%;
    background-color: #F2B705;
}
.farmpark-logotext{
    font-family: 'Poppins',sans-serif;
    font-size: 30px;
    padding-top: 2%;
}
.farmpark-ul{
    text-align: right;
    margin-top: -2%;
}
.farmpark-li{
    display: inline;
}
.farmpark-home{
    font-family: 'Poppins',sans-serif;
    color: #000;
    text-decoration: none;
}
.farmpark-zoo{
    font-family: 'Poppins',sans-serif;
    color: #000;
    text-decoration: none;
    margin-left: 2%;
}
.farmpark-cafe{
    font-family: 'Poppins',sans-serif;
    color: #000;
    text-decoration: none;
    margin-left: 2%;
}
.farmpark-shop{
    font-family: 'Poppins',sans-serif;
    color: #000;
    text-decoration: none;
    margin-left: 2%;
}
.farmpark-outdoor{
    font-family: 'Poppins',sans-serif;
    color: #000;
    text-decoration: none;
    margin-left: 2%;
}
.farmpark-contact{
    font-family: 'Poppins',sans-serif;
    color: #000;
    text-decoration: none;
    margin: 0 7% 0 2%;
}
.farmpark-welcome{
    font-family: 'Poppins',sans-serif;
    color: #fff;
    text-align: center;
}
footer{
    margin-top: 30.6%;
    padding-bottom: 3%;
    height: 40%;
    width: 100%;
    background-color: #F2B705;
}
.farmpark-copyright{
    text-align: center;
}
.farmpark-copy{
    padding-top: 3%;
    font-family: 'Poppins',sans-serif;
    color: #000;
}