*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #3c6e71;
}
header{
    background-color: #353535;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}
.navbartoggle .no-nav{
    display: block;
}
.navbartoggle{
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
    font-size: 2rem;
    left: 3%;
    width: 9%;
    height: 10%;
    background-color: #264653;
    border-radius: 30px;
    padding: 14px 30px;
}
.navbartoggle .fa-bars{
    color: #fff;
}
.navbartoggle .fa-x{
    color: #fff;
    display: none;
}
.navbartoggle .open-toggle{
    display: none;
}
.navbartoggle .close-toggle{
    display: inline;
}
.active{
    transition: linear 250ms;
    background-color: #264653;
    height: 5%;
    font-family: 'Kaushan Script', cursive;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #fff;
}
ul{
    list-style-type: none;
    display: none;
    width: 100%;
}
ul li{
    color: #fff;
    text-transform: uppercase;
    width: 100%;
}
a{
    text-decoration: none;
    color: #fff;
    padding: 20px 15px;
    border-bottom: 2px solid #fff;
    display: block;
    text-align: center;
}
ul li a:hover{
    color: cadetblue;
}
.wrapper{
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.card{
    height: 75%;
    padding: 3%;
    border: 2px solid #fff;
    width: 100%;
    margin: 3%;
    background-color: rgba(225, 225, 225, 0.3);
    backdrop-filter: blur;
    --webkit-backdrop-filter: blur(1px);
}
.card:hover{
    cursor: pointer;
    height: 75%;
    padding: 2%;
    transition: height, padding 1s;
}
.card h2{
    font-family: 'Bruno Ace SC', cursive;
    color: ghostwhite;
}
h1{
    font-family: 'Bruno Ace SC', cursive;
    color: ghostwhite;
}
.card h2 p{
    margin: 3%;
}
.card-img1{
    height: 55%;
    background-image: url(../images/mars.jpg);
    background-position: center;
    background-size: cover;
}
.card-img2{
    height: 55%;
    background-image: url(../images/earth.jpg);
    background-position: center;
    background-size: cover;
}
.card-img3{
    height: 55%;
    background-image: url(../images/jupiter.jpg);
    background-position: center;
    background-size: cover;
}
footer{
    background-color: #353535;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
}
.gallerycard{
    height: 35%;
    padding: 3%;
    border: 2px solid #fff;
    width: 100%;
    margin: 3%;
    background-color: rgba(225, 225, 225, 0.3);
    backdrop-filter: blur;
    -webkit-backdrop-filter: blur(1px);
    border-radius: 10px;
}
.gallerycard:hover{
    transform: scale(1.1);
    transition: 1s;
    box-shadow: 0 4px 8px #000000b3;
}
.galleryimg1{
    height: 100%;
    background-image: url(../images/mars.jpg);
    background-position: center;
    background-size: cover;
}
.galleryimg2{
    height: 100%;
    background-image: url(../images/earth.jpg);
    background-position: center;
    background-size: cover;
}
.galleryimg3{
    height: 100%;
    background-image: url(../images/jupiter.jpg);
    background-position: center;
    background-size: cover;
}
.galleryimg4{
    height: 100%;
    background-image: url(../images/nasa-2W-QWAC0mzI-unsplash.jpg);
    background-position: center;
    background-size: cover;
}
.galleryimg5{
    height: 100%;
    background-image: url(../images/nasa-N3BQHYOVq5E-unsplash.jpg);
    background-position: center;
    background-size: cover;
}
.galleryimg6{
    height: 100%;
    background-image: url(../images/nasa-ScBkW9AKgcA-unsplash.jpg);
    background-position: center;
    background-size: cover;
}
.card-img4{
    height: 55%;
    background-image: url();
}
@media screen and (min-width: 991px){
    header{
        background-color: #353535;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    .navbartoggle{
        display: none;
    }
    nav{
        background-color: #264653;
        height: 5%;
        font-family: 'Kaushan Script', cursive;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid #fff;
        border-top: 2px solid #fff;
    }
    ul{
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
    ul li{
        width: 0;
    }
    .active{
        display: flex;
        flex-direction: row;
        color: #fff;
        padding: 20px 15px;
        border-bottom: 0;
        border-top: 0;
        justify-content: space-evenly;
    }
    a{
        border-bottom: 0;
        padding: 0;
    }
    .card{
        padding: 3%;
        width: 25%;
    }
    .glass{
        padding: 3%;
        width: 20%;
    }
    footer{
        position: fixed;
        bottom: 0;
        left: 0;
        overflow-x: 0;
    }
    .card:hover{
        height: 90%;
        font-size: 18px;
    }
    .gallerycard{
        padding: 3%;
        margin: 3%;
        width: 25%;
    }
}