*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../images/backGround.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
main{
    height: 100vh;
    width: 100vw;
}
header{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    background-color: darkslategray;
    opacity: 0.9;
    overflow: hidden;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
}
.logo img{
    width: 20%;
}
nav{
    width: 60%;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
}
nav > ul > li > a{
    text-decoration: none;
    font-family: papyrus;
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
nav > ul > li > a:hover{
    color: black;
}
.social{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    font-size: 36px;
}
.social i{
    color: #fff;
}
.social i:hover{
    color: black;
}
section{
    height: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}
section div{
    justify-content: center;
    height: 80%;
    background-color: #fff;
    opacity: 0.85;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 6%;
}
.right{
    width: 25%;
    color: black;
}
.rightimg{
    height: 100%;
    border-radius: 6%;
}
.left{
    width: 25%;
    color: black;
}
.leftimg{
    width: 100%;
    height: 100%;
    border-radius: 6%;
}
.center{
    width: 25%;
    color: red;
}
.centerimg{
    height: 100%;
    width: 100%;
    border-radius: 6%;
}
footer{
    background-color: darkslategray;
    opacity: 0.9;
    color: #fff;
    height: 10%;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
}
aside{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
    flex-direction: column;
    padding: 20px;
}
aside > .form1{
    display: flex;
    background-color: #fff;
    width: 30%;
    align-items: center;
    justify-content: center;
    opacity: 0.85;
    border-radius: 6%;
}
map{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 10px;
}

@media screen and (max-width: 425px){
    body{
        background-size: auto;
    }
    nav > ul > li > a{
        font-size: 10px;
    }
    .social{
        font-size: 18px;
        width: 40%;
    }
    section{
        flex-direction: column;
        height: auto;
    }
    .logo img{
        width: 60%;
    }
    .left{
        height: auto;
        width: 90%;
        margin-bottom: 5%;
        padding: 5px;
    }
    .center{
        margin-bottom: 5%;
        width: 90%;
        padding: 5px;
    }
    .right{
        width: 90%;
        padding: 5px;
    }
}
@media screen and (max-width: 768px){
    aside > .form1{
        width: 90%;
        padding: 10px;
    }
    map{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        padding: 10px;
    }
}
section.picture{
    justify-content: center;
    height: fit-content;
    display: flex;
    flex-direction: row;
    padding: 20px;
}
section.picture2{
    justify-content: center;
    height: fit-content;
    display: flex;
    flex-direction: row;
    padding: 20px;
}
section.picture3{
    justify-content: center;
    height: fit-content;
    display: flex;
    flex-direction: row;
    padding: 20px;
}
section.picture4{
    justify-content: center;
    height: fit-content;
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.pics{
    width: 11%;
    margin-right: 2%;
}
section.picture > .content1{
    width: 60%;
    background-color: #fff;
    opacity: 0.9;
    height: fit-content;
}
section.picture2 > .content1{
    width: 60%;
    background-color: #fff;
    opacity: 0.9;
    height: fit-content;
}
section.picture3 > .content1{
    width: 60%;
    background-color: #fff;
    opacity: 0.9;
    height: fit-content;
}
section.picture4 > .content1{
    width: 60%;
    background-color: #fff;
    opacity: 0.9;
    height: fit-content;
}


.pics-equipment{
    width: 11%;
    margin-left: 2%;
}
section.picture2-flex{
    justify-content: center;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 2%;
}
section.picture4-flex{
    justify-content: center;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 2%;
}
.pics-equipment.flex{
    width: 9%;
    /* margin-left: 2%; */
    margin-top: 2%;
}