body{
    margin: 0 0 0 0;
}
.navbar{
    height: 48px;
    background-color: orange;
    text-align: center;
    line-height: 3rem;
}
a{
    color: #000;
    text-decoration: none;
    font-family: sans-serif;
}
.waggyhostel-logo{
    width: 1261px;
    margin-top: 3px;
    margin-left: 2px;
}
.container{
    height: 650px;
}
h1{
    text-align: center;
    font-family: sans-serif;
}
p{
    text-align: center;
    font-family: sans-serif;
}
ul{
    text-align: center;
    list-style: inside;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
footer{
    height: 100px;
    background-color: orange;
}
.copy{
    text-align: center;
    color: #fff;
    padding-top: 35px;
    font-family: sans-serif;
}